
.contact {
    padding-bottom: 130px;                                                                                                                                                                                                                                                                                                                         
  }
  
  .contact .info {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.15);
    padding: 30px;
    width: 100%;
  }
  
  .contact .info i {
    align-items: center;
    background: #dff3fc;
    border-radius: 50px;
    color: #149ddd;
    display: flex;
    font-size: 20px;
    float: left;
    height: 44px;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    width: 44px;
  }
  
  .contact .info h4 {
    color: #050d18;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    padding: 0 0 0 60px;
  }
  
  .contact .info p {
    color: #173b6c;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 0 0 10px 60px;
  }
  
  .contact .info .email p {
    padding-top: 5px;
  }
      
  .contact .info .email:hover i,
  .contact .info .address:hover i,
  .contact .info .phone:hover i {
    background: #149ddd;
    color: #fff;
  }

  .contact a {
   color: #173b6c;
  }