.mobile-nav-toggle {
  align-items: center;
  background-color: #149ddd;
  border-radius: 50px;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 24px;
  height: 40px;
  justify-content: center;
  line-height: 0;
  outline: none !important;
  position: fixed;
  right: 15px;
  top: 15px;
  transition: all 0.4s;
  width: 40px;
  z-index: 9998;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active #header {
    left: 0;
  }